@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  font-family: "Baloo Da 2", cursive;
  overflow-x: hidden;
}

$background: #1d3a7c;

// Notic Card design
#noticBox {
  overflow: hidden;
}
.notic {
  // width: 40vw;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 0;
  overflow: hidden;
  span {
    width: max-content;
    display: inline-block;
    color: #fff;
    padding-top: 8px;
    padding-left: 100%;
    will-change: transform;
    animation: notic 20s linear infinite;
    &:hover {
      animation-play-state: paused;
    }
    @keyframes notic {
      0% {
        transform: translate(0, 0);
        overflow: hidden;
      }
      100% {
        overflow: hidden;

        transform: translate(-100%, 0);
      }
    }
  }
}

// ================== ✌🤷‍♂️ Karjokrom Component design
#karjokrom {
  background: $background;
  color: white;
  .left_box {
    h2 {
      word-spacing: 0.2rem;
    }
  }
}

// =============== Right Side card
.activityCompnent {
  bottom: 38%;
  transform: translateY(50%);
  .activity {
    .activity-image {
      position: relative;
      width: 45px;
      height: 40px;
      overflow: hidden;
      margin-top: 4px;
    }
    .activity-text-link {
      position: absolute;
      right: 20px;
      z-index: 100;
      width: 145px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      transform: translateX(200%);
      transition: transform 200ms linear;
      color: #000;
      text-align: center;
      font-size: 0.7rem;
      z-index: 100;
      font-size: 18px;
      img {
        width: 80px;
        height: 45px;
        object-fit: cover;
        overflow: hidden;
        transform: scale(1.8);
        z-index: 100;
      }
    }
    &:hover .activity-text-link {
      transform: translateX(-10%);
      z-index: 100;
    }
  }
}

// topicCardImage
.topicCardImage {
  transition: 0.2s linear;
  &:hover {
    transform: scale(1.1);
    transition: 0.2s linear;
    cursor: pointer;
  }
}
.slick-slider .slick-list {
  padding: 1rem 0;
}

// Footer

footer {
  background: $background;
  color: white;
}
.location {
  width: 70vw;
  height: 80vh;
}
.ResponsiveIcon {
  display: none;
}
@media screen and (max-width: 768px) {
  .location {
    width: 90vw;
    margin: auto;
  }
  .ResponsiveIcon {
    display: block;
  }
}

#authentication-modal {
  background: rgba($color: #000000, $alpha: 0.9);
}
